@model PeopleViewModel
@using AddPersonInputFields.Data

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @Model.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}
<div>
    <h1 class="display-4 text-center">People</h1>
</div>
<div class="container col-8 mt-4">
    <form action="/home/addpeople"><button class="btn btn-outline-primary btn-block">Add People</button></form>
    @if (Model.People.Count > 0)
    {
        <table class="table table-bordered table-hover table-striped mt-4 table-sm">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Person p in Model.People)
                {
                    <tr>
                        <td>@p.FirstName</td>
                        <td>@p.LastName</td>
                        <td>@p.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
